@charset "utf-8";
/* CSS Document */
@import "fonts/OpenSans/stylesheet.css"; /* Importation du font-face */
@import "_form.css"; /* Importation du style form */
/* --- Général ---  */
*{margin:0; padding:0;}
/* -ms-overflow-style: auto | none | scrollbar | -ms-autohiding-scrollbar */
body{font-family: 'open_sansregular'; font-size:14px; line-height: 26px; color: #373737; background-color: #f0f2f5; padding-top: 50px;}

a{color:#5571ae;}
a:link {}
a:visited {}
a:hover {}
a:active {}

a img{ border:none;}

pre{padding: 8px; margin: 0;}

h1{font-family: 'open_sansextrabold'; font-size:31px; line-height: 38px; color:#5873b1; font-weight: normal; text-transform: uppercase; margin-bottom:26px;}
h1 > span{font-family: 'open_sansregular';}
h2{font-family: 'open_sansregular'; font-size:28px; line-height: 36px; font-weight: normal; color:#5571ae; text-transform: uppercase; margin-bottom:14px;}
h3{font-family: 'open_sanssemibold'; font-size:16px; color:#5571ae;line-height: 28px; margin:0 0 8px;font-weight: normal;}
h4{font-family: 'open_sanssemibold'; font-size:28px;color: #373737;text-transform: uppercase; margin:0 0 18px;}
h5{}
h6{}

h3.title{  background-color: #e8e8e8; padding: 4px 8px;}

.clear, .clr{ clear:both; }

.sideBar{float: left; width: 500px; padding: 10px; }
.mainContent{ margin-left: 500px; padding: 8px 20px; background-color: #FDFDFD;   overflow: hidden;}


#screen{margin-top: 8px; margin-bottom: 8px;}
#screen.tablet{   background: url(../images/pad-port.png) no-repeat top left;
  padding: 65px 59px 111px;
  min-height: 1212px;
  width: 900px;margin: 0 auto;}
#screen.mobile{   background: url(../images/phone-port.png) no-repeat top center;
  min-height: 765px;
  padding: 133px 27px 137px 30px;
  width: 393px;
  margin: 0 auto;}
#screen.mobile.land{background: url(../images/phone-land.png) no-repeat top center; overflow-y: auto;}


.downloadLink{ background:url(../images/download-icon.png) no-repeat center center; background-size: 100%;
  width: 120px;
  height: 120px;
  display: block;
  margin: 5px;
  text-indent: -9999px;}


.codeRow{   overflow-x: auto; }


.slide-image {  width: 100%; }
.carousel-holder {  margin-bottom: 30px; }
.carousel-control,
.item { border-radius: 4px; }
.caption { height: 130px; overflow: hidden; }
.caption h4 {    white-space: nowrap;}
.thumbnail img {    width: 100%;}
.ratings {    padding-right: 10px;    padding-left: 10px;    color: #d17581;}
.thumbnail {    padding: 0;}
.thumbnail .caption-full {    padding: 9px;    color: #333;}



.tab-pane {background-color: #FFF;
  border-style: solid;
  border-color: #ddd;
  border-width: 0px 1px 1px;
  padding: 10px;}
